/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Apply a background color and text styles */
body {
    background-color: #fdf1f1;
    font-family: Arial, sans-serif;
}

/* Style the header */
header {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 20px;
}

/* Style the navigation */
nav ul {
    text-align: center;
    list-style: none;
    background-color: #333;
}

nav li {
    display: inline;
    margin: 0 15px;
}

nav a {
    text-decoration: none;
    color: #fff;
}

/* Style sections */
section {   
    margin: 30px;
    padding: 20px;
    width: 980px;
    background-color: #ffffff;
    border: 1px solid #9a8d8d;
    border-radius: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Style projects */
.project {
    margin: 20px 0;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

/* Style the footer */
footer {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 10px;
}

img{
    border-radius: 50%;
    height: 2%;
    width: 3%;
    object-fit: contain;
}
.cont1 img{
    height: 51%;
    width: 20%;
    border-radius: 10px;
    top: 30%;
    left: 73%;
    position: absolute;
    transition:opacity 0.4s ease-in-out;    
    box-shadow: 0 10px 20px;
    background-color: rgb(0, 0, 0);
}

